.card-title{
	margin-bottom: 2px;
}

.card-date-author{
	font-size: 14px;
}

a{
	text-decoration: none;
	color: #1A1C1A;
}

a:hover{
	text-decoration: none;
	color: #F3DFC1;
}

p{
	color: #1A1C1A;
}

.category-tag{
	padding: 3px;
	color: #1A1C1A;
	background-color: #F3DFC1;
	font-size: 12px;
}

.font-pink{
	color: #F3DFC1;
}

.font-dark{
	color: #1A1C1A;
}

.bg-dark-pink{
	background-color: #F3CEA1;
}

.container-fluid{
	padding: 20px;
}

.loader{
	position: fixed;
    top: 50%;
    left: 50%;
}