.searchbar{
	background-color: #D1CDCD;
	padding: 15px;
}

.btn-search{
	border-color: white;
	color: white;
}

.btn-search:hover{
	background-color: #3C545C;
	border-color: #3C545C;
	color: #D1CDCD;
}
